<div class="item active">
    <div class="firstpage">
        <h1>test</h1>
        <h1>test</h1>
        <h1>test</h1>
        <h1>test</h1>
        <h1>test</h1>
        <h1>test</h1>
    </div>
</div>
<div class="item">
    <div class="middlepage">
        <h1>foo</h1>
        <h1>foo</h1>
        <h1>foo</h1>
        <h1>foo</h1>
        <h1>foo</h1>
    </div>
</div>
<div class="item">
    <div class="lastpage">
        <h1>bar</h1>
        <a>bar</a><br>
        <a>bar</a><br>
        <a>bar</a><br>
        <a>bar</a><br>
        <a>bar</a><br>
    </div>
</div>